github "ReactiveX/RxSwift"
github "ferranabello/Viperit"
github "realm/realm-cocoa"
github "RxSwiftCommunity/RxAlamofire" "master"
github "bignerdranch/Freddy" ~> 3.0
github "Alamofire/Alamofire" ~> 4.7
